<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">De-Mocracy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/result">Result</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            
          </ul>
          
        </div>
      </nav>
   
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> You are now logged in
    </div>
 
    <div class="row">
      
        <div class="col ">bleh</div>
      
        <div class="col "></div>
    
    </div>

    <div class="row">
        <div class="col">more bleh</div>
        <div class="col">
            <div class="container bg-dark">
                <h3 style="color: white;">Voting Booth</h3>
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Candidate List</button>
                <div id="demo" class="collapse">
                    <form id="candidateSelect" action="/dashboard" method="post">
                        <select class="selectpicker" data-style="btn-info" name="selectpicker">
                            <optgroup label="Select Candidate">
                    
                                <% for(var i = 0 ; i < cid.length ; i++) { %>
                                
                                    <option value="<%= cid[i] %>"><%= cname[i] %></option>
                                
                             <% } %>
                                
                            </optgroup>
                        </select>
                        <input type="submit" value="Submit" />
                    </form>
         
                </div>
         
            </div>
        </div>
    </div>
   
 
   
 
</body>
</html>